form {
  overflow-x: hidden;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  color: #101828;
  position: relative;
  left: 24.7rem;
  margin-top: 106px;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  font-weight: 400;
  color: #475467;
  text-align: center;
}
.contact {
  margin-bottom: 48px;
}

#first__name {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.first__input,
.last__input {
  background: #ffffff;
  border: 1px solid #d0d5dd;
  padding: 10px 14px;
  font-size: 14px;
  font-weight: 400;
  width: 320px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

#last__name {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-left: 24px;
}
h4 {
  font-size: 14px;
  font-weight: 500;
  color: #344054;
  margin-bottom: 6px;
}

.text {
  display: flex;
  position: relative;
  left: 24.6rem;
  margin-bottom: 24px;
}

/* ######## Email ########### */

#email {
  position: relative;
  left: 24.6rem;
  margin-bottom: 24px;
}

.email__input {
  background: #ffffff;
  border: 1px solid #d0d5dd;
  padding: 10px 14px;
  font-size: 14px;
  font-weight: 400;
  width: 668px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

/* ####### Message ############# */

.group {
  position: relative;
  left: 24.6rem;
  margin-bottom: 24px;
}

#message {
  padding: 12px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
}

/* ########### CheckBox #########*/
.check {
  display: flex;
  justify-content: center;
  padding-right: 3rem;
  margin-bottom: 35px;
}

.check__box {
  margin-right: 12px;
  color: #d0d5dd;
  /* border-radius: 6px; */
}

h5 {
  font-size: 16px;
  font-weight: 400;
  color: #475467;
}

.error-text.invalid{
  position: relative;
  right: 17rem;
  color: #F83F23;
}

.group.invalid #message{
  border: 1px solid #F89687;
  /* border-color: red; */
}

/* ######### button ################ */

#btn__submit {
  position: relative;
  left: 24.6rem;
  padding: 12px 303px;
  margin-bottom: 100px;
  background-color: #1570ef;
  border: 1px solid #1570ef;
  color: #FFFFFF;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
}

#btn__submit:hover {
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 26px;
}

@media (max-width: 1024px) {
  h2 {
    position: relative;
    left: 14rem;
  }

  .text {
    position: relative;
    left: 14rem;
  }

  #email {
    position: relative;
    left: 14rem;
  }

  .group {
    position: relative;
    left: 14rem;
  }

  #btn__submit {
    position: relative;
    left: 14rem;
  }
}

@media (max-width: 912px) {
  h2 {
    position: relative;
    left: 8rem;
  }

  p {
    padding-right: 4rem;
  }

  .text {
    position: relative;
    left: 8rem;
  }

  #email {
    position: relative;
    left: 8rem;
  }

  .group {
    position: relative;
    left: 8rem;
  }

  #btn__submit {
    position: relative;
    left: 8rem;
  }
}

@media (max-width: 768px) {
  h2 {
    position: relative;
    left: 3rem;
  }

  p {
    padding-right: 5rem;
  }

  .text {
    position: relative;
    left: 3rem;
    flex-wrap: wrap;
  }

  #email {
    position: relative;
    left: 3rem;
  }

  .group {
    position: relative;
    left: 3rem;
  }

  #btn__submit {
    position: relative;
    left: 3rem;
    padding: 12px 250px;
  }
}

@media (max-width: 650px) {
  h2 {
    position: relative;
    left: 3rem;
  }

  p {
    position: relative;
    left: 3rem;
    width: 500px;
  }

  .text {
    position: relative;
    left: 3rem;
    flex-wrap: wrap;
  }

  .first__input {
    margin-bottom: 1rem;
    width: 450px;
  }

  .last__input{
    width: 450px;
  }

  #last__name {
    padding-left: 4px;
    
  }
  #email {
    position: relative;
    left: 3rem;
  }

  
.email__input {
  width: 450px;
}


#message {
  padding: 12px;
 width: 450px;
}

  .group {
    position: relative;
    left: 3rem;
  }

  #btn__submit {
    position: relative;
    left: 3rem;
    padding: 12px 190px;
  }
}


@media (max-width: 416px) {
  h2 {
    position: relative;
    left: 1.6rem;
  }

  p {
    position: relative;
    left: 0rem;
    width: 400px;
  }

  .text {
    position: relative;
    left: 2.2rem;
    flex-wrap: wrap;
  }

  .first__input {
    margin-bottom: 1rem;
    width: 280px;
  font-size: 16px;

  }

  .last__input{
    width: 280px;
  font-size: 16px;

  }

  #last__name {
    padding-left: 4px;
    
  }
  #email {
    position: relative;
    left: 2.4rem;
  }

  
.email__input {
  width: 280px;
  font-size: 16px;
}


#message {
  padding: 12px;
 width: 280px;
 font-size: 16px;
}

  .group {
    position: relative;
    left: 2.4rem;
  }

.check__box{
  margin-left: 2.4rem;
}

  #btn__submit {
    position: relative;
    left: 3rem;
    padding: 12px 98px;
  }
}
